<div class="container-fluid justify-content-center  " style="height: 100vh">
  <div class="row  align-items-center justify-content-center  h-100"  >
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5  h-50" style="background-color:#F0F0F0; border-radius: 10px;">
      <form  class="col-12" >
		   <img src="../../../assets/Blase-Logo.png" alt="" class=" d-block mx-auto mb-1" width="45%">
<div class="mb-2 mx-auto   col-9" >
      <input type="text" class="form-control "  placeholder="Nombre"  name="name">
  </div>

  <div class="mb-2 mx-auto   col-9" >
      <input type="email" class="form-control "  placeholder="Correo"  name="email">
  </div>
  <div class="mb-2 mx-auto  col-9 ">
<input type="password" class="form-control" id="floatingPassword" placeholder="Password"   name="password">
  </div>
  <div class=" mx-auto col-5">
<input class="btn  text-light col-12 text-wrap" style="background-color:#FC4F83 ;" type="submit" value="Registrarse"  >
  </div>
  <div class=" mb-2 mx-auto text-center  col-5">
    <a style="color:#48DCE6" [routerLink]="['/login'] ">Ir al Login</a>

     
  </div>
     </form>


          </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 justify-content-center   h-50" style="background-color:#384D6A; border-radius: 10px;">

      <img src="../../../assets/update.jpg" class="d-block mx-auto pt-3 col-8" alt=""  height="70%">
<div class="mb-3 mt-2 text-center mx-auto col-6">

<input type="file" class="form-control "  accept=".png,.jpg" />
</div>
<div class="mb-3 mx-auto col-8">
      <input type="text" class="form-control mx-auto  col-12 text-wrap" placeholder="Comentario de perfil"     name="comentario">
          </div>
  </div>
</div>
